@page "/mainScreen"
@using UIFotobox.Shared
@inject HttpClient client;
@using System.IO
@using System.Web
@using System.Diagnostics
<h1> New Picture</h1>


<div>
    <img class="mainImage" src="/images/0.jpg" />
    @*src="@getNewPicture()"/>*@

    <footer>

        <button class="print-button" @onclick="()=>SendToPrinter()"><span class="print-icon"></span></button>
        <button class="newImage" @onclick="() => NewImage()"><i class='oi oi-camera-slr'></i> </button>

    </footer>


</div>


@code {
    // Public Eigenschaft für Index verwenden
    int index = 0;


    
    protected override async Task OnInitializedAsync()
    {

        for (int i = 0; i < 10; i++)
        {
            string path = "/images/" + i + ".jpg";

            try
            {
                byte[] file = await client.GetByteArrayAsync(path);
               
                index++;
            }
            catch
            {
                break;
            }

        }

    }

    public void NewImage()
    {

        // Run Python Code
        string imgPath = "https://localhost:44381/images/" + index + ".jpg";
        string pyPath = @"\Fotobox\Picture.py";
        string path = @"C:\Users\xelia\AppData\Local\Programs\Python\Python38\python.exe";
       
    }



    public void SendToPrinter()
    {
        // Send Image to Printer
    }
}
